.controlPanel {
	width:5.0em;
	height:2.8em;
	position:relative;
	left:50%;
	margin-left:-2.5em;
}

.timeInput {
	font-family: 'Roboto', sans-serif;
	display:inline-block;
    width:1.8em;
	font-size:0.8em;
	text-align:center;
}

.colon {
	display:inline-block;
	font-size:0.8em;
	margin: 0.8em 0 0 0;
	color: white;
}

.note {
	font-size:0.32em;
	margin: 0 0;
	color: red;
}
