<!DOCTYPE html>
<html lang="en">
<head>
  <title>Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->
 
</head>

<body>
  
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    
    <a class="navbar-brand" href="#">
      <img src="../assets/images/10-1740-1740.jpg" alt="logo" style="width:40px;">
    </a>
    <div ngbDropdown placement="bottom-right" class="d-inline-block">  
        <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#collapsibleNavbar" id="dropdownBasic1" ngbDropdownToggle>
          <span class="navbar-toggler-icon"></span>
        </button>

        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="bg-light">
          <button class="dropdown-item" routerLink="./timer" routerLinkActive="active">Timer</button>
          <button class="dropdown-item" routerLink="./calculator" routerLinkActive="active">Calculator</button>
          <button class="dropdown-item" routerLink="./friendly-numbers" routerLinkActive="active">Friendly numbers</button>
          <button class="dropdown-item" routerLink="./salary" routerLinkActive="active">Salary</button>
          <button class="dropdown-item" routerLink="./articles" routerLinkActive="active">Articles</button>
          <button class="dropdown-item" routerLink="./hardware-projects" routerLinkActive="active">Hardware projects</button>
          <button class="dropdown-item" routerLink="./about-me" routerLinkActive="active">About me</button>
        </div>
    </div>


 <div class="collapse navbar-collapse" id="collapsibleNavbar">  
    <ul class="navbar-nav">
      <li class="nav-item">
          <ngbd-modal-basic></ngbd-modal-basic>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./timer" routerLinkActive="active">Timer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./calculator" routerLinkActive="active">Calculator</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="./friendly-numbers" routerLinkActive="active">Friendly numbers</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="./salary" routerLinkActive="active">Salary</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="./articles" routerLinkActive="active">Articles</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="./hardware-projects" routerLinkActive="active">Hardware projects</a>
      </li>
      <li class="nav-item">
          <!-- <button class="btn btn-md btn-outline-primary" routerLink="./about-me" routerLinkActive="active">About me</button> -->
          <a class="nav-link" routerLink="./about-me" routerLinkActive="active">About me</a>
      </li>
    </ul>
  </div> 

  </nav>

<router-outlet></router-outlet>

<footer class="container-fluid text-center bg-secondary fixed-bottom">
    <p>March 2018</p>
  </footer>
  

</body>
</html>
